// @import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap")@
@font-face {
  src: url('../fonts/Roboto-Regular.ttf');
  font-family: 'Roboto Regular';
}

@font-face {
  src: url('../fonts/Roboto-Medium.ttf');
  font-style: normal;
  font-family: 'Roboto Medium';

}
@font-face {
  src: url('../fonts/Roboto-Bold.ttf');
  font-style: normal;
  font-family: 'Roboto Bold';

}

 /* icons */

@font-face {
    font-family: 'icons';
    src: url('../fonts/icons.eot');
    src: url('../fonts/icons.eot?#iefix') format('embedded-opentype'),
         url('../fonts/icons.woff') format('woff'),
         url('../fonts/icons.ttf') format('truetype'),
         url('../fonts/icons.svg#icons') format('svg');
    font-weight: normal;
    font-style: normal;
}
[class*='icon-']:before{
	display: inline-block;
   font-family: 'icons';
   font-style: normal;
   font-weight: normal;
   line-height: 1;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale
}
.icon-vk:before{content:'\0041';}
.icon-instagram:before{content:'\0042';}
.icon-facebook:before{content:'\0043';}
.icon-Vector:before{content:'\0041';}

  /*variables */

  $black: #1B1B1B;;
  $grey: #828282;
  $lightgrey: #F7F9FB;
  $blackgrey: #4F4F4F;
  $white: #FFFFFF;
  $purple: #3F3D56;

  /* mixsins */

  @mixin breakpoint($point){
      @if $point == large {
          @media screen and (min-width: 1200px){
              @content;
          }
      }
      @else if $point == medium {
        @media screen and (max-width: 1199px){
            @content;
        } 
      }
      @else if $point == small {
        @media screen and (max-width: 767px){
            @content;
        } 
      }
  }

/* normalize.css */
/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */

/* Document
   ========================================================================== */

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */

 html {
    line-height: 1.15; /* 1 */
    -webkit-text-size-adjust: 100%; /* 2 */
  }
  
  /* Sections
     ========================================================================== */
  
  /**
   * Remove the margin in all browsers.
   */
  
  body {
    margin: 0;
    font-family: 'Roboto Regular', Helvetica, Arial, sans-serif;
    // font-size: 24px;
    color: $black;
    // font-size: 24px;
    // line-height: 147.3%;
  }
  
  /**
   * Render the `main` element consistently in IE.
   */
  
  main {
    display: block;
  }
  
  /**
   * Correct the font size and margin on `h1` elements within `section` and
   * `article` contexts in Chrome, Firefox, and Safari.
   */
  
  h1 {
    font-size: 64px;
    font-weight: 700px;
    line-height: 76.8px;
    margin: 60px auto 30px;
    font-family: 'Roboto Regular';
    @include breakpoint (medium) {
      padding-top: 40px;
      font-size: 32px;
      line-height: 38px;
      margin: 0 auto;

    } 
  }

  h2, h3 {
    font-weight: 500px;
    font-family: 'Roboto Regular';
    font-size: 48px;
    line-height: 57.6px;
    margin: 80px auto 20px;
    @include breakpoint (medium) {
      font-size: 24px;
      margin-top: 30px;
      margin-bottom: 0px;
    } 
  }
  
  /* Grouping content
     ========================================================================== */
  
  /**
   * 1. Add the correct box sizing in Firefox.
   * 2. Show the overflow in Edge and IE.
   */
  
  hr {
    box-sizing: content-box; /* 1 */
    height: 0; /* 1 */
    overflow: visible; /* 2 */
  }


  
  /**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
  
  pre {
    font-family: monospace, monospace; /* 1 */
    font-size: 1em; /* 2 */
  }
  
  /* Text-level semantics
     ========================================================================== */
  
  /**
   * Remove the gray background on active links in IE 10.
   */
  
  a {
    background-color: transparent;
    color: $black;
  }
  
  /**
   * 1. Remove the bottom border in Chrome 57-
   * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
   */
  
  abbr[title] {
    border-bottom: none; /* 1 */
    text-decoration: underline; /* 2 */
    text-decoration: underline dotted; /* 2 */
  }
  
  /**
   * Add the correct font weight in Chrome, Edge, and Safari.
   */
  
  b,
  strong {
    font-weight: bolder;
  }
  
  /**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
  
  code,
  kbd,
  samp {
    font-family: monospace, monospace; /* 1 */
    font-size: 1em; /* 2 */
  }
  
  /**
   * Add the correct font size in all browsers.
   */
  
  small {
    font-size: 80%;
  }
  
  /**
   * Prevent `sub` and `sup` elements from affecting the line height in
   * all browsers.
   */
  
  sub,
  sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
  }
  
  sub {
    bottom: -0.25em;
  }
  
  sup {
    top: -0.5em;
  }
  
  /* Embedded content
     ========================================================================== */
  
  /**
   * Remove the border on images inside links in IE 10.
   */
  
  img {
    border-style: none;
  }
  
  /* Forms
     ========================================================================== */
  
  /**
   * 1. Change the font styles in all browsers.
   * 2. Remove the margin in Firefox and Safari.
   */
  
  button,
  input,
  optgroup,
  select,
  textarea {
    font-family: inherit; /* 1 */
    font-size: 100%; /* 1 */
    line-height: 1.15; /* 1 */
    margin: 0; /* 2 */
  }
  
  /**
   * Show the overflow in IE.
   * 1. Show the overflow in Edge.
   */
  
  button,
  input { /* 1 */
    overflow: visible;
  }
  
  /**
   * Remove the inheritance of text transform in Edge, Firefox, and IE.
   * 1. Remove the inheritance of text transform in Firefox.
   */
  
  button,
  select { /* 1 */
    text-transform: none;
  }
  
  /**
   * Correct the inability to style clickable types in iOS and Safari.
   */
  
  button,
  [type="button"],
  [type="reset"],
  [type="submit"] {
    -webkit-appearance: button;
  }
  
  /**
   * Remove the inner border and padding in Firefox.
   */
  
  button::-moz-focus-inner,
  [type="button"]::-moz-focus-inner,
  [type="reset"]::-moz-focus-inner,
  [type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0;
  }
  
  /**
   * Restore the focus styles unset by the previous rule.
   */
  
  button:-moz-focusring,
  [type="button"]:-moz-focusring,
  [type="reset"]:-moz-focusring,
  [type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText;
  }
  
  /**
   * Correct the padding in Firefox.
   */
  
  fieldset {
    padding: 0.35em 0.75em 0.625em;
  }
  
  /**
   * 1. Correct the text wrapping in Edge and IE.
   * 2. Correct the color inheritance from `fieldset` elements in IE.
   * 3. Remove the padding so developers are not caught out when they zero out
   *    `fieldset` elements in all browsers.
   */
  
  legend {
    box-sizing: border-box; /* 1 */
    color: inherit; /* 2 */
    display: table; /* 1 */
    max-width: 100%; /* 1 */
    padding: 0; /* 3 */
    white-space: normal; /* 1 */
  }
  
  /**
   * Add the correct vertical alignment in Chrome, Firefox, and Opera.
   */
  
  progress {
    vertical-align: baseline;
  }
  
  /**
   * Remove the default vertical scrollbar in IE 10+.
   */
  
  textarea {
    overflow: auto;
  }
  
  /**
   * 1. Add the correct box sizing in IE 10.
   * 2. Remove the padding in IE 10.
   */
  
  [type="checkbox"],
  [type="radio"] {
    box-sizing: border-box; /* 1 */
    padding: 0; /* 2 */
  }
  
  /**
   * Correct the cursor style of increment and decrement buttons in Chrome.
   */
  
  [type="number"]::-webkit-inner-spin-button,
  [type="number"]::-webkit-outer-spin-button {
    height: auto;
  }
  
  /**
   * 1. Correct the odd appearance in Chrome and Safari.
   * 2. Correct the outline style in Safari.
   */
  
  [type="search"] {
    -webkit-appearance: textfield; /* 1 */
    outline-offset: -2px; /* 2 */
  }
  
  /**
   * Remove the inner padding in Chrome and Safari on macOS.
   */
  
  [type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
  }
  
  /**
   * 1. Correct the inability to style clickable types in iOS and Safari.
   * 2. Change font properties to `inherit` in Safari.
   */
  
  ::-webkit-file-upload-button {
    -webkit-appearance: button; /* 1 */
    font: inherit; /* 2 */
  }
  
  /* Interactive
     ========================================================================== */
  
  /*
   * Add the correct display in Edge, IE 10+, and Firefox.
   */
  
  details {
    display: block;
  }
  
  /*
   * Add the correct display in all browsers.
   */
  
  summary {
    display: list-item;
  }
  
  /* Misc
     ========================================================================== */
  
  /**
   * Add the correct display in IE 10+.
   */
  
  template {
    display: none;
  }
  
  /**
   * Add the correct display in IE 10.
   */
  
  [hidden] {
    display: none;
  }



  /* generic */

  .is-animated {
      transition: all 400ms ease;
  }

  .content__container {
    margin: 0 auto;
  }
  .content__container.is-align-center {
    text-align: center;
  }
  @media screen and (min-width: 1200px) {
    .content__container {
      width: 944px;
    }
  }
  @media screen and (max-width: 1199px) {
    .content__container {
      width: 100%;
    }
  }
  section {

      &.is-grey{
          background: $lightgrey;
      }
  }

  @media screen and (max-width: 1199px) {
    .is-desktop {
      display: none !important;
    }
  }
  
  @media screen and (min-width: 1200px) {
    .is-mobile {
      display: none !important;
    }
  }

/* header */


.menu__frame{
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-end;
    padding: 35px 40px 110px 40px;
    

    &-link{
        padding: 0px 15px;
        text-decoration: none;

        &:hover {
            color: $grey;
        }
    }

    &-site{
        margin-right: auto;
        text-decoration: none;
        font-weight: bold;
        margin-top: -4px;
        font-size: 24px;
        line-height: 29px;
        &:hover {
          color: $grey;
      }
    }

    &-button{
      cursor:pointer;
      margin-top: -12px;
      margin-left: 25px;
      background: $white;
      font-size: 16px;
      line-height: 19px;
      font-weight: 500;
      border-radius: 6px;
      border: 1px solid rgb(27, 27, 27, 0.4);
      box-sizing: border-box;
      padding: 12px 30px;

      &:hover {
        background: $lightgrey;
    }
    }
}


 /* contact */

 .contacts__frame {
   padding-bottom: 100px;
   @include breakpoint (medium) {
    padding-bottom: 40px;
  }

   a:hover {
    color: $grey;
   }

   h2{
     padding-top: 80px;
     margin-bottom: 40px;
     @include breakpoint (medium) {
      padding-top: 40px;
      font-size: 24px;
      margin-top: 20px;
      margin-bottom: 0;
    }  
   }
  
  &-wrapper {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;

    &-item{
      margin: 0px 70px;
      width: 264px;
      min-width: 200px;
     }
    }
    @media screen and (max-width: 1199px) {
      &-wrapper {
        flex-wrap: wrap;
        margin: 0 auto;
        flex-direction: column;
      }
    }
  }
 
  @media screen and (max-width: 1199px) {
    .contacts__frame-wrapper-item{
      padding-top: 20px;
      margin: 0 auto;
      width: 264px;
      min-width: 200px;
    }
  }


.vertical_separator{
  width: 1px;
  min-width: 1px;
  height: 62px;
  background: #C8C8CF;
}

.contact_type {
  color: $blackgrey;
  font-size: 14px;
  line-height: 21px;
}


.contact_info {
  text-decoration: none;
  color: $black;
  font-size: 20px;
  margin-top: 6px;
  line-height: 29px;

}

/*about*/

.about__frame{
  @include breakpoint (medium) {
    padding: 20px;
    
  }
  &-text{
    width: 925px;
    margin: 0 auto;
    font-size: 24px;
    line-height:35.35px;
  }
  @media screen and (max-width: 1199px) {
    img{
      width: calc(100% - 40px);
      margin: 0 auto;
    }
  }

  @media screen and (max-width: 1199px) {  
    &-text { 
    
      width: calc(100% - 60px);
      margin: 0 auto;
      font-size: 16px;
      line-height:23px;
      p{
        margin-top: 10px;
      }
    }
  }
}

/*team*/

.team__frame{
  max-width: 1100px;
  margin: 0 auto;
  
  &-wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 80px;
    @include breakpoint (medium) {
      justify-content: center;
      padding-bottom: 0px;
    }


    &-item{
      margin: 30px 40px;
      @include breakpoint (medium) {
        margin: 30px 20px;  
      }
    }

    &-name{
      font-size: 20px;
      line-height: 29.46px;
      padding: 23px 0 8px 0;
      font-weight: 700;
      @include breakpoint (medium) {
        font-size: 16px;
        line-height: 23px;
      }
    }

    &-job{
      color: $blackgrey;
      font-size: 14px;
      line-height: 21px;
      @include breakpoint (medium) {
        font-size: 12px;
        line-height: 18px;
      }
    }
  }
}

/* footer */

.footer__frame{
     background:$purple;
     display: flex;
     flex-wrap: nowrap;
     justify-content: flex-end;
     padding: 49px;

     &-socials{
      font-size: 27px;
      line-height: 27px;
      @include breakpoint (medium) {
        margin-left: 0;
        padding-top: 16px;
      }
         a{
             padding: 0px 9px;
             color: $white;

           &:hover {
              color: $grey;
               }
          }
     }

     &-copy{
      margin-right: auto;
      text-decoration: none;
      font-size: 16px;
      line-height: 19px;
      color: rgb(255, 255, 255, 0.4);
      @include breakpoint (medium) {
        padding-top: 16px;
      }
     }
}

@media screen and (max-width: 1199px) {
  .footer__frame {
    justify-content: center;
    margin-top: 25px;
    flex-direction: column;
    align-items: flex-start;
    padding: 15px 0px 30px 20px;
  }
}

.mobile__burger{
  cursor: pointer;


  &-item {
    background: $black;
    width: 18px;
    height: 2px;

    + div {
      margin-top: 3px;
    }

  }
}